@import 'partials/fonts';
@import 'partials/var';

.ct {
	text-align: center;
}

body {
	padding: 0;
	margin: 0;
	color: #fff;
	a {
		color: $blue;
	}
}

.row {
	min-width: 100%;
	color: #fff;
}

.nav { 
	background: $slate; 
	padding: 20px;
	max-width: 125px;
}

.hero { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
}

.banner { 
	background-color: $darkBlueTrans; 
	padding: 20px;
	max-width: 125px;
}

.slides { 
	li {
		list-style-type: none;
		padding: 8px;
	}
	background: $blueish; 
	padding: 0;
	max-width: 125px;
	img {
		max-width: 100%;
				border: 1px solid #242628;

	} i {
		position: absolute;
		top: 20px;
		right: 30px;
		z-index: 2;
		font-size: 1.75em;
    text-shadow: 1px 2px 4px #000;
	} span {
		position: absolute;
	}
}

.resources { 
	background: $slate; 
	padding: 20px;
	max-width: 125px;
}

.reviews { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
} 

.cta { 
	background: $slate; 
	padding: 20px;
	max-width: 125px;
}

.footer { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
}


