@import 'partials/fonts';
@import 'partials/var';

.ct {
	text-align: center;
}

body {
	padding: 0;
	margin: 0;
	color: #fff;
	a {
		color: $blue;
	}
}

.row {
	min-width: 100%;
	color: #fff;
}

.nav { 
	background: $slate; 
	padding: 20px;
	max-width: 125px;
}

.hero { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
}

.banner { 
	background-color: $darkBlueTrans; 
	padding: 20px;
	max-width: 125px;
}

.slides { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
}

.resources { 
	background: $slate; 
	padding: 20px;
	max-width: 125px;
}

.reviews { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
} 

.cta { 
	background: $slate; 
	padding: 20px;
	max-width: 125px;
}

.footer { 
	background: $blueish; 
	padding: 20px;
	max-width: 125px;
}


