// ==================================== //
// =============== _VAR =============== //
// ==================================== //

/***********************/
/******** FONTS ********/
/***********************/

$logoFont: 'GrandHotel-Regular';
$sans: 'Gotham-Book', sans-serif;
$sansItal: 'Gotham-BookItalic', sans-serif;
$sansBold: 'Gotham-Bold', sans-serif;
$sansBoldItal: 'Gotham-BoldItalic', sans-serif;

$serif: 'Sentinel-Book', serif;
$serifItal: 'Sentinel-BookItalic', serif;
$serifBold: 'Sentinel-Bold', serif;
$serifBoldItal: 'Sentinel-BoldItalic', serif;

$display: 'Tungsten-Medium', sans-serif;
$displayItal: 'Tungsten-MediumItalic', sans-serif;
$displayBold: 'Tungsten-Bold', sans-serif;
$displayBoldItal: 'Tungsten-BoldItalic', sans-serif;


/************************/
/******** COLORS ********/
/************************/

$blue: #0074e4;

$blueTrans: rgba(0,116,228,.75);
$darkBlueTrans: rgba(24,52,93,.85);
$greenTrans: rgba(116,192,5,.75);


// $black: #212425;
// $blue: #5ba4e5;
// $deepBlue: #2f8cde;
// $green: #9fbb58;
// $yellow: #ffe600;
// $beige: #e9e8dd;

$slate: #282d31;
// $color-1: #282d31;
// $neutral: #404041;
// $color-2: #404041;

$blueish: #718087;
// $greenish: #a6b4b6;
// $whitish: #eceded;
// $white: #ffffff;

// $red: #e25440;
// $orange: #F2A925;
// $grey: #718087;
// $midGrey: #7d878a;
// $lightGrey: #e2edf2;

// $brown: #aaa9a2;
// $midBrown: #c0bfb6;
// $lightBrown: #edece4;
$darkGrey: #242628;
// $inputFocus: #226492;
$pinkButton: #D01040;
// $purple: #333c4e;
// $offWhite: #F3F4F8;
// $color-3: #F3F4F8;


// FontAwesome
 
// GrandHotel-Regular

// Gotham-Thin
// Gotham-ThinItalic
// Gotham-ExtraLight
// Gotham-ExtraLightItalic
// Gotham-Light
// Gotham-LightItalic
// Gotham-Book
// Gotham-BookItalic
// Gotham-Medium
// Gotham-MediumItalic
// Gotham-Bold
// Gotham-BoldItalic
// Gotham-Black
// Gotham-BlackItalic
// Gotham-Ultra
// Gotham-UltraItalic

// Sentinel-Light
// Sentinel-LightItalic
// Sentinel-Book
// Sentinel-BookItalic
// Sentinel-Medium
// Sentinel-MediumItalic
// Sentinel-Semibold
// Sentinel-SemiboldItalic
// Sentinel-Bold
// Sentinel-BoldItalic
// Sentinel-Black
// Sentinel-BlackItalic

// Tungsten-Medium
// Tungsten-Semibold
// Tungsten-Bold
// Tungsten-Black

// Archer-Hairline
// Archer-HairlineItalic
// Archer-Thin
// Archer-ThinItalic
// Archer-ExtraLight
// Archer-ExtraLightItalic
// Archer-Light
// Archer-LightItalic
// Archer-Book
// Archer-BookItalic
// Archer-Medium
// Archer-MediumItalic
// Archer-Semibold
// Archer-SemiboldItalic
// Archer-Bold
// Archer-BoldItalic

// Brandon-Thin
// Brandon-ThinItalic
// Brandon-Light
// Brandon-LightItalic
// Brandon-Book
// Brandon-BookItalic
// Brandon-Medium
// Brandon-MediumItalic
// Brandon-Bold
// Brandon-BoldItalic
// Brandon-Black
// Brandon-BlackItalic

// OpenSans-Light
// OpenSans-LightItalic
// OpenSans-Book
// OpenSans-BookItalic
// OpenSans-Semibold
// OpenSans-SemiboldItalic
// OpenSans-Bold
// OpenSans-BoldItalic
// OpenSans-Black
// OpenSans-BlackItalic

// Avenir-Light
// Avenir-LightItalic
// Avenir-Book
// Avenir-BookItalic
// Avenir-Roman
// Avenir-RomanItalic
// Avenir-Medium
// Avenir-MediumItalic
// Avenir-Heavy
// Avenir-HeavyItalic
// Avenir-Black
// Avenir-BlackItalic